.sesuatu {
	position: relative;
	padding-top: 40vh;
	padding-bottom: 45vh;
}

.bekron {
	position: absolute;
	height: 100%;
	right: 0;
	background-image: url("../image/bekron.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.boxsvg {
	margin-top: 20vh;
	margin-left: 32vh;
}

.paddingcustom {
	padding-top: 20vh;
	padding-bottom: 20vh;
}